.nav-atas{
    background-color: #27ae60 !important;
    height: 30px;
  
}

.downloand-apk{
    font-size: 12px;
    color: white !important;
}

.item-nav-atas a{
    color: white !important;
    font-size: 12px;
}